@model string

@{
    ViewBag.Title = "Completed";
}

<div class="container my-4">
    <h2>Completed</h2>
    <p>Order details sended to email '@Model'</p>
    <a href="~/Main/BookList" class="btn btn-outline-primary">Back</a>
</div>